accelerate
aiofiles
aiohttp
aiosignal
annotated-types
anyio
appdirs
async-timeout
attrs
beartype
bitsandbytes
blis
huggingface-hub
numpy
timm
tokenizers
torch
torchvision
transformers
tslearn
termcolor
jsonlines